[submodule "open-scd-core"]
	path = open-scd-core
	url = https://www.github.com/openenergytools/open-scd-core
	branch = gh-pages
[submodule "plugins/scl-editor-landing"]
	path = plugins/scl-editor-landing
	url = https://www.github.com/openenergytools/scl-editor-landing
	branch = gh-pages
[submodule "plugins/oscd-open"]
	path = plugins/oscd-open
	url = https://www.github.com/openenergytools/oscd-open
	branch = gh-pages
[submodule "plugins/oscd-save"]
	path = plugins/oscd-save
	url = https://www.github.com/openenergytools/oscd-save
	branch = gh-pages
[submodule "plugins/scl-validating"]
	path = plugins/scl-validating
	url = https://www.github.com/openenergytools/scl-validating
	branch = gh-pages
[submodule "plugins/oscd-publisher"]
	path = plugins/oscd-publisher
	url = https://github.com/openenergytools/oscd-publisher
	branch = gh-pages
[submodule "plugins/scl-import-ied"]
	path = plugins/scl-import-ied
	url = https://github.com/openenergytools/scl-import-ied
	branch = gh-pages
[submodule "plugins/oscd-template-generator"]
	path = plugins/oscd-template-generator
	url = https://github.com/OpenEnergyTools/oscd-template-generator
	branch = gh-pages
[submodule "plugins/scl-substation-editor"]
	path = plugins/scl-substation-editor
	url = https://github.com/OpenEnergyTools/scl-substation-editor
	branch = gh-pages
[submodule "plugins/scl-communication"]
	path = plugins/scl-communication
	url = https://github.com/openenergytools/scl-communication
	branch = gh-pages
[submodule "plugins/scl-template"]
	path = plugins/scl-template
	url = https://github.com/openenergytools/scl-template
	branch = gh-pages
[submodule "plugins/oscd-subscriber-later-binding"]
	path = plugins/oscd-subscriber-later-binding
	url = https://github.com/danyill/oscd-subscriber-later-binding
	branch = gh-pages	
[submodule "plugins/oscd-supervision"]
	path = plugins/oscd-supervision
	url = https://github.com/danyill/oscd-supervision
	branch = gh-pages
[submodule "plugins/oscd-tp-multicast-naming"]
	path = plugins/oscd-tp-multicast-naming
	url = https://github.com/danyill/oscd-tp-multicast-naming
	branch = gh-pages
[submodule "plugins/oscd-network-data"]
	path = plugins/oscd-network-data
	url = https://github.com/danyill/oscd-network-data
	branch = gh-pages
[submodule "plugins/oscd-subscriber-lb-siemens"]
	path = plugins/oscd-subscriber-lb-siemens
	url = https://github.com/danyill/oscd-subscriber-lb-siemens
	branch = gh-pages
[submodule "plugins/oscd-subscriber-lb-sel"]
	path = plugins/oscd-subscriber-lb-sel
	url = https://github.com/danyill/oscd-subscriber-lb-sel
	branch = gh-pages
[submodule "plugins/oscd-subscriber-lb-nr"]
	path = plugins/oscd-subscriber-lb-nr
	url = https://github.com/danyill/oscd-subscriber-lb-nr
	branch = gh-pages
[submodule "plugins/oscd-import-templates"]
	path = plugins/oscd-import-templates
	url = https://github.com/danyill/oscd-import-templates
	branch = gh-pages
[submodule "plugins/oscd-description"]
	path = plugins/oscd-description
	url = https://github.com/danyill/oscd-description
	branch = gh-pages
[submodule "plugins/oscd-automatic-backup"]
	path = plugins/oscd-automatic-backup
	url = https://github.com/danyill/oscd-automatic-backup
	branch = gh-pages
[submodule "plugins/oscd-rename-ieds"]
	path = plugins/oscd-rename-ieds
	url = https://github.com/danyill/oscd-rename-ieds
	branch = gh-pages
[submodule "plugins/oscd-network-config"]
	path = plugins/oscd-network-config
	url = https://github.com/danyill/oscd-network-config
	branch = gh-pages
[submodule "plugins/oscd-designer"]
	path = plugins/oscd-designer
	url = https://github.com/ca-d/oscd-designer
	branch = gh-pages
[submodule "oscd-communication"]
	url = https://github.com/OpenEnergyTools/scl-communication
[submodule "scl-communication"]
	path = scl-communication
	url = https://github.com/OpenEnergyTools/scl-communication
[submodule "oscd-plugins"]
	path = oscd-plugins
	url = https://github.com/sprinteins/oscd-plugins
	branch = gh-pages
[submodule "plugins/oscd-plugins"]
	path = plugins/oscd-plugins
	url = https://github.com/sprinteins/oscd-plugins
	branch = gh-pages
[submodule "plugins/oscd-import-ieds"]
	path = plugins/oscd-import-ieds
	url = https://github.com/danyill/oscd-import-ieds
	branch = gh-pages
[submodule "plugins/oscd-remove-ieds"]
	path = plugins/oscd-remove-ieds
	url = https://github.com/danyill/oscd-remove-ieds
	branch = gh-pages
[submodule "plugins/oscd-save-as"]
	path = plugins/oscd-save-as
	url = https://github.com/danyill/oscd-save-as
	branch = gh-pages
[submodule "plugins/oscd-stencil"]
	path = plugins/oscd-stencil
	url = https://github.com/danyill/oscd-stencil
	branch = gh-pages
[submodule "plugins/oscd-designer-ce"]
	path = plugins/oscd-designer-ce
	url = https://github.com/OpenEnergyTools/oscd-designer
	branch = gh-pages
[submodule "plugins/scl-communication-editor"]
	path = plugins/scl-communication-editor
	url = https://github.com/OpenEnergyTools/scl-communication-editor
	branch = gh-pages
[submodule "plugins/scl-ied-browser"]
	path = plugins/scl-ied-browser
	url = https://github.com/OpenEnergyTools/scl-ied-browser
	branch = gh-pages
[submodule "plugins/scl-ied-editor"]
	path = plugins/scl-ied-editor
	url = https://github.com/OpenEnergyTools/scl-ied-editor
	branch = gh-pages
[submodule "plugins/scl-wizarding"]
	path = plugins/scl-wizarding
	url = https://github.com/OpenEnergyTools/scl-wizarding
	branch = deploy
