* {
  --oscd-theme-primary: #2aa198;
  --oscd-theme-secondary: #6c71c4;
  --oscd-theme-error: #dc322f;

  --oscd-theme-base03: #002b36;
  --oscd-theme-base02: #073642;
  --oscd-theme-base01: #586e75;
  --oscd-theme-base00: hsl(196, 13%, 45%);
  --oscd-theme-base0: #839496;
  --oscd-theme-base1: #93a1a1;
  --oscd-theme-base2: #eee8d5;
  --oscd-theme-base3: #fdf6e3;

  --oscd-theme-text-font: 'Roboto';
  --oscd-theme-icon-font: "Material Symbols Outlined";

  --primary: var(--oscd-theme-primary);
  --secondary: var(--oscd-theme-secondary);

  margin: 0px;
  padding: 0px;
}

abbr {
  text-decoration: none;
  border-bottom: none;
}
