* {
  --oscd-theme-primary: #0295db;
  --oscd-theme-secondary: #85c700;
  --oscd-theme-error: #dc3545;

  --oscd-theme-base03: #443f5c;
  --oscd-theme-base02: #474263;
  --oscd-theme-base01: #30295a;
  --oscd-theme-base00: #4d476b;
  --oscd-theme-base0: #0b3569;
  --oscd-theme-base1: #193e6a;
  --oscd-theme-base2: #e6f5fd;
  --oscd-theme-base3: #f6fbff;

  --oscd-theme-text-font: 'Roboto';
  --oscd-theme-icon-font: "Material Symbols Outlined";

  --primary: var(--oscd-theme-primary);
  --secondary: var(--oscd-theme-secondary);

  margin: 0px;
  padding: 0px;
}

abbr {
  text-decoration: none;
  border-bottom: none;
}
