* {
  --oscd-theme-primary: #007FAD;
  --oscd-theme-secondary: #73993E;
  --oscd-theme-error: #dc3545;

  --oscd-theme-base03: #443f5c;
  --oscd-theme-base02: #474263;
  --oscd-theme-base01: #30295a;
  --oscd-theme-base00: #4d476b;
  --oscd-theme-base0: #0b3569;
  --oscd-theme-base1: #193e6a;
  --oscd-theme-base2: #e6f5fd;
  --oscd-theme-base3: #f6fbff;

  --oscd-theme-text-font: "Roboto";
  --oscd-theme-icon-font: "Material Symbols Outlined";

  --primary: var(--oscd-theme-primary);
  --secondary: var(--oscd-theme-secondary);

  --md-sys-color-surface: none;

  margin: 0px;
  padding: 0px;
}

:root {
  /* built with Figma plugin as per guidance for Material Web Components */
  /* see https://github.com/material-components/material-web/blob/main/docs/theming/color.md */
  --md-sys-color-primary: #006495;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #cbe6ff;
  --md-sys-color-on-primary-container: #001e30;
  --md-sys-color-primary-fixed: #cbe6ff;
  --md-sys-color-on-primary-fixed: #001e30;
  --md-sys-color-primary-fixed-dim: #8fcdff;
  --md-sys-color-on-primary-fixed-variant: #004b71;
  --md-sys-color-secondary: #446900;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #b1f743;
  --md-sys-color-on-secondary-container: #111f00;
  --md-sys-color-secondary-fixed: #b1f743;
  --md-sys-color-on-secondary-fixed: #111f00;
  --md-sys-color-secondary-fixed-dim: #96da23;
  --md-sys-color-on-secondary-fixed-variant: #324f00;
  --md-sys-color-tertiary: #8a5100;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #ffdcbd;
  --md-sys-color-on-tertiary-container: #2c1600;
  --md-sys-color-tertiary-fixed: #ffdcbd;
  --md-sys-color-on-tertiary-fixed: #2c1600;
  --md-sys-color-tertiary-fixed-dim: #ffb86d;
  --md-sys-color-on-tertiary-fixed-variant: #683c00;
  --md-sys-color-error: #ba1830;
  --md-sys-color-error-container: #ffdad9;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-on-error-container: #410008;
  --md-sys-color-background: #fffbff;
  --md-sys-color-on-background: #1d1c16;
  --md-sys-color-outline: #7b7768;
  --md-sys-color-inverse-on-surface: #f5f0e7;
  --md-sys-color-inverse-surface: #32302a;
  --md-sys-color-inverse-primary: #8fcdff;
  --md-sys-color-shadow: #000000;
  --md-sys-color-surface-tint: #006495;
  --md-sys-color-outline-variant: #ccc6b5;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface: #fef9f0;
  --md-sys-color-on-surface: #1d1c16;
  --md-sys-color-surface-variant: #e9e2d0;
  --md-sys-color-on-surface-variant: #4a4739;
  --md-sys-color-surface-container-highest: #e7e2d9;
  --md-sys-color-surface-container-high: #ece8df;
  --md-sys-color-surface-container: #f2ede4;
  --md-sys-color-surface-container-low: #f8f3ea;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-dim: #ded9d1;
  --md-sys-color-surface-bright: #fef9f0;
}

abbr {
  text-decoration: none;
  border-bottom: none;
}
